bin/prim
*.exe
*.grf
.vscode/*
include/*
*breakpoints*
*.png
*.svg
*.as
documentation/IPC2e-graphs.pdf
src/.vs/*
*.stackdump
*.swp
*.dot
x86_64
book_graph
test_mt.txt
test_st.txt
results/prim_results.csv
